<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR" value="${catalina.home}/logs" />  
        
    <!-- 控制台输出 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%t] [%level] | %C{0}.%method\(%line\) | %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 系统启动日志输出文件 -->
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_DIR}/portal.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_DIR}/portal-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%t] [%level] | %C{0}.%method\(%line\) | %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- 异常日志 -->
    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_DIR}/portal-error.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_DIR}/portal-error-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%t] [%level] | %C{0}.%method\(%line\) | %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>
    
    <!-- 数据库相关日志 -->
    <appender name="sqlAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_DIR}/portal-sql.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_DIR}/portal-sql-%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%t] [%level] | %C{0}.%method\(%line\) | %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>info</level>
        </filter>
    </appender>
    
    <logger name="com.baidu.bainuo.finance.data.mybatis.interceptor.ReadMasterInterceptor" additivity="false">
        <level value="info"/>
        <appender-ref ref="stdout" />
        <appender-ref ref="sqlAppender"/>
        <appender-ref ref="errorAppender" />
    </logger>
    
    <logger name="com.baidu.bainuo.finance.data.mybatis.interceptor.MybatisInterceptor" additivity="false">
        <level value="info"/>
        <appender-ref ref="stdout" />
        <appender-ref ref="sqlAppender"/>
        <appender-ref ref="fileAppender" />
        <appender-ref ref="errorAppender" />
    </logger>

    <root>
        <level value="info" />
        <appender-ref ref="stdout" />
        <appender-ref ref="fileAppender" />
        <appender-ref ref="errorAppender" />
    </root>
</configuration>

