<!--导航图-->
<link rel="stylesheet" href="../../../static/css/applicationInformation/translateGradeGuide.css">
<!--<div class="ai-bgBox">-->
    <!--<div class="ai-bgWord">-->
        <!--<span>转学分指南</span><br/>-->
        <!--<span style="font-size: 48px">Guide to credit</span>-->
    <!--</div>-->
<!--</div>-->
<!--右侧主体内容部分-->
<div class="ai-right">
    <div class="ai-rightIn">
        <div class="tggDeriction">申请信息>转学分指南</div>
        <!--<div class="tggSelect">-->
            <!--<div class="ts-title">学校名称：</div>-->
            <!--<div class="ts-searchBox">-->
                <!--<input type="text" id="search" />-->
            <!--</div>-->
        <!--</div>-->

        <div class="ts-schoolBox">
             <div class="ts-school"><div class="ts-schoolName">Agnes Scott College </div><div class="ts-download" ng-click="DownDoc('/static/doc/Agnes-Scott-College.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Arizona State University</div><div class="ts-download" ng-click="DownDoc('/static/doc/Arizona-State-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Baylor University </div><div class="ts-download" ng-click="DownDoc('/static/doc/Baylor-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Bentley University</div><div class="ts-download" ng-click="DownDoc('/static/doc/Bentley-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Binghamton University </div><div class="ts-download" ng-click="DownDoc('/static/doc/Binghamton-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Boston College</div><div class="ts-download" ng-click="DownDoc('/static/doc/Boston-College.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Boston University </div><div class="ts-download" ng-click="DownDoc('/static/doc/Boston-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">California College of The Arts</div><div class="ts-download" ng-click="DownDoc('/static/doc/California-College-of-The-Arts.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Case Western Reserve University </div><div class="ts-download" ng-click="DownDoc('/static/doc/Case-Western-Reserve-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Clarkson University </div><div class="ts-download" ng-click="DownDoc('/static/doc/Clarkson-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Concordia college-NY</div><div class="ts-download" ng-click="DownDoc('/static/doc/Concordia-college-NY.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Cornell University</div><div class="ts-download" ng-click="DownDoc('/static/doc/Cornell-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Denison University</div><div class="ts-download" ng-click="DownDoc('/static/doc/Denison-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">DePaul University </div><div class="ts-download" ng-click="DownDoc('/static/doc/DePaul-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Eastern University</div><div class="ts-download" ng-click="DownDoc('/static/doc/Eastern-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Emory University</div><div class="ts-download" ng-click="DownDoc('/static/doc/Emory-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Franklin& Marshall College</div><div class="ts-download" ng-click="DownDoc('/static/doc/Franklin&-Marshall-College.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">George Mason University </div><div class="ts-download" ng-click="DownDoc('/static/doc/George-Mason-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Georgetown University </div><div class="ts-download" ng-click="DownDoc('/static/doc/Georgetown-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Georgia Institute of Technology </div><div class="ts-download" ng-click="DownDoc('/static/doc/Georgia-Institute-of-Technology.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Illnois Institute of Technology </div><div class="ts-download" ng-click="DownDoc('/static/doc/Illnois-Institute-of-Technology.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Indiana University Bloomington</div><div class="ts-download" ng-click="DownDoc('/static/doc/Indiana-University-Bloomington.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">John Carroll University </div><div class="ts-download" ng-click="DownDoc('/static/doc/John-Carroll-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Johnson & Wales University</div><div class="ts-download" ng-click="DownDoc('/static/doc/Johnson-&-Wales-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Kansas State University </div><div class="ts-download" ng-click="DownDoc('/static/doc/Kansas-State-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Lafayette College </div><div class="ts-download" ng-click="DownDoc('/static/doc/Lafayette-College.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Messiah College </div><div class="ts-download" ng-click="DownDoc('/static/doc/Messiah-College.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Michigan State University </div><div class="ts-download" ng-click="DownDoc('/static/doc/Michigan-State-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Mount Holyoke College </div><div class="ts-download" ng-click="DownDoc('/static/doc/Mount-Holyoke-College.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Muhlenberg College</div><div class="ts-download" ng-click="DownDoc('/static/doc/Muhlenberg-College.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">North Carolina State University </div><div class="ts-download" ng-click="DownDoc('/static/doc/North-Carolina-State-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Ohio State University </div><div class="ts-download" ng-click="DownDoc('/static/doc/Ohio-State-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Oklahoma State University </div><div class="ts-download" ng-click="DownDoc('/static/doc/Oklahoma-State-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Pace University </div><div class="ts-download" ng-click="DownDoc('/static/doc/Pace-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Pacific Lutheran University </div><div class="ts-download" ng-click="DownDoc('/static/doc/Pacific-Lutheran-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Portland State University </div><div class="ts-download" ng-click="DownDoc('/static/doc/Portland-State-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Purdue University </div><div class="ts-download" ng-click="DownDoc('/static/doc/Purdue-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Rutgers University</div><div class="ts-download" ng-click="DownDoc('/static/doc/Rutgers-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Saint Joseph’s University </div><div class="ts-download" ng-click="DownDoc('/static/doc/Saint-Joseph’s-University.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">San Jose state university </div><div class="ts-download" ng-click="DownDoc('/static/doc/San-Jose-state-university.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Savannah College of Art and Design</div><div class="ts-download" ng-click="DownDoc('/static/doc/Savannah-College-of-Art-and-Design.docx')">下载</div></div>
 <div class="ts-school"><div class="ts-schoolName">Seattle University</div><div class="ts-download" ng-click="DownDoc('/static/doc/Seattle-University.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">Syracuse University </div><div class="ts-download" ng-click="DownDoc('/static/doc/Syracuse-University.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">The George Washington University</div><div class="ts-download" ng-click="DownDoc('/static/doc/The-George-Washington-University.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">The Pennsylvania State University </div><div class="ts-download" ng-click="DownDoc('/static/doc/The-Pennsylvania-State-University.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">The University of Vermont </div><div class="ts-download" ng-click="DownDoc('/static/doc/The-University-of-Vermont.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">UMass Boston</div><div class="ts-download" ng-click="DownDoc('/static/doc/UMass-Boston.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">UMass Lowell</div><div class="ts-download" ng-click="DownDoc('/static/doc/UMass-Lowell.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of Arizona </div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-Arizona.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University Of Calgary </div><div class="ts-download" ng-click="DownDoc('/static/doc/University-Of-Calgary.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">university of california berkeley </div><div class="ts-download" ng-click="DownDoc('/static/doc/university-of-california-berkeley.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of California, Davis </div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-California-Davis.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of California, Irvine</div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-California-Irvine.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of California, Santa Barbara </div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-California-Santa-Barbara.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of California, Santa Cruz</div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-California-Santa-Cruz.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of Connecticut </div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-Connecticut.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of Denver</div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-Denver.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of Georgia </div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-Georgia.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of Illinois at Urbana-Champaign</div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-Illinois-at-Urbana-Champaign.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of Maryland</div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-Maryland.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of Miami </div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-Miami.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of Michigan, Ann Arbor </div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-Michigan-Ann-Arbor.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of Missouri</div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-Missouri.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of Nevada, Las Vegas </div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-Nevada-Las-Vegas.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University Of North Texas </div><div class="ts-download" ng-click="DownDoc('/static/doc/University-Of-North-Texas.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University Of Oklahoma</div><div class="ts-download" ng-click="DownDoc('/static/doc/University-Of-Oklahoma.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University Of Rhode Island</div><div class="ts-download" ng-click="DownDoc('/static/doc/University-Of-Rhode-Island.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of Rochester </div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-Rochester.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of San Diego </div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-San-Diego.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of San Francisco </div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-San-Francisco.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of the Pacific </div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-the-Pacific.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University Of Washington-Seattle</div><div class="ts-download" ng-click="DownDoc('/static/doc/University-Of-Washington-Seattle.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">University of Western Ontario </div><div class="ts-download" ng-click="DownDoc('/static/doc/University-of-Western-Ontario.docx')">下载</div></div>
<div class="ts-school"><div class="ts-schoolName">Wisconsin-Madison </div><div class="ts-download" ng-click="DownDoc('/static/doc/Wisconsin-Madison.docx')">下载</div></div>

        </div>
    </div>
</div>
<!--固定的侧边栏-->
<div class="slidebar">
    <div class="slidebar-top">
        <div class="st-pic"></div>
    </div>
    <div class="slidebar-bottom">
        <div class="sb-pic"></div>
    </div>
</div>
<div class="big-ewm"></div>
<!-------------------------------------------------------------------------------------------------------------------->

<script>

    window.onscroll=function(){
        if ($(document).scrollTop() >410)//这个410是距离顶部高度
        {
            $(".ai-left").addClass('ai-leftFixed');//
        }else{
            $(".ai-left").removeClass('ai-leftFixed');
        }
    }

    //侧边栏的效果
    $(".slidebar-top").mouseover(
            function () {
                $(".big-ewm").css("right","65px")
            }
    );
    $(".slidebar-top").mouseout(
            function () {
                $(".big-ewm").css("right","-165px")
            }
    )
    //一键返回顶部
    var toTop=document.querySelector(".slidebar-bottom");
    toTop.onclick=function(){
        obj=document.body.scrollTop==0?document.documentElement:document.body;
        animate(obj,{scrollTop:0},100)
    };
</script>